<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.inventability.podiopclmobileexample" android:versionCode="1" android:versionName="v 0.0.1">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="20" />
	<application android:label="Podio PCL" android:icon="@drawable/ic_launcher"></application>
</manifest>